.container-fluid{
	padding: 0;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
}

/* LOGO ICONS AND PROFILE */

.logo-bar{
	margin-top: 10px;
}

.logo{
	height: 25px;
	margin-top: 12px;
}

.mail-logo{
	height: 20px;
	padding-right: 5px;
}

.linkedin-logo{
	height: 20px;
	padding-left: 10px;
	padding-right: 5px;
}

a{
	color: black;
}

.profile-pic-container{
	padding-top: 30px;

}

.profile-pic{
	border-radius: 50%;
	max-width: 231px;
	height: auto;
	align-self: flex-start;
}

/* INFO BLOCK */

.info{
	margin-top: 30px;
}

.left-border{
	padding-left: 20px;
}

.right-border{
	padding-right: 20px;
}

.flex-align-left{
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}

.flex-align-right{
	display: flex;
	justify-content: flex-end;
}


.info-column-text{
	display: flex;
	flex-direction: column;
}

.color-element{
	height: 100%;
	width: 10px;
	flex: 0 0 auto;
}

.who-am-i-color{
	background: #ffde59;
	margin-left: 5px;
}

.wat-studeerde-ik-color{
	background: #ff914d;
	margin-right: 5px;
}

.wat-doe-ik-color{
	background: #38b6ff;
	margin-left: 5px;
}

.wat-kan-ik-color{
	background: #7ed957;
	margin-right: 5px;
}

.who-am-i{
	text-align: right;
}

.wat-doe-ik{
	text-align: right;
}

/* <= xl */
@media screen and (max-width: 1199px) {
    .left-border{
		padding-left: 0px;
	}

	.right-border{
		padding-right: 0px;
	} 

	.wie-ben-ik-group{
		order:1;
	}

	.wat-doe-ik-group{
		margin-top: 10px;
		order:3;
	}

	.wat-studeerde-ik-group{
		margin-top: 10px;
		order:4;
	}

	.wat-kan-ik-group{
		order:2;
	}
}

/* <= sm */
@media screen and (max-width: 767px) {
	.flex-align-right{
		display: flex;
		justify-content: flex-end;
		flex-direction: row-reverse;
	}

	.who-am-i{
		text-align: left;
	}


	.wat-doe-ik{
		text-align: left;
	}

	.who-am-i-color{
		margin-left: 15px; /*not sure why this is needed */
		margin-right: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	..wat-kan-ik-color{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.wat-doe-ik-color{
		margin-left: 0px;
		margin-right: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.wat-studeerde-ik-color{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.wat-doe-ik-group{
		margin-top: 0px;		
	}

	.wat-studeerde-ik-group{
		margin-top: 0px;
	}

	a {
		font-size: 0;
	}
}

/* remove handwriting on very small screens */
@media screen and (max-width: 349px) {
	.logo{
		display: none;
	}
}
